@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #00ff99;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}
